* {
  margin: 0;
  font-family: "Cabin", Helvetica, sans-serif;
}

body {
  background-color: grey;
}

header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: white;
  background-image: linear-gradient(to right, #002c56, #005c5c);
  padding: 10px;
}

footer {
  background-image: linear-gradient(to right, #005c5c, #002c56);
}

header > img {
  width: 100px;
}

.container {
}

.player-card {
  margin: 50px 0;
  display: flex;
  justify-content: space-around;
  background-image: linear-gradient(to left, #002c56, #005c5c);
  border-radius: 8px;
  scale: 90%;
  border: white 1px solid;
  gap: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: 250ms;
}

.player-card:hover {
  border: 5px solid white;
  .headshot {
    scale: 120%;
    transition: 500ms;
  }
}

.player-card:nth-child(odd) {
  background-image: linear-gradient(to right, #002c56, #005c5c);
}

.player-card:nth-child(odd):hover {
  background-image: linear-gradient(to left, #002c56, #005c5c);
}

.player-card:nth-child(even):hover {
  background-image: linear-gradient(to right, #002c56, #005c5c);
}

.name,
.position,
.jersey,
.age,
.stats,
.teams {
  display: flex;
  align-items: center;
  color: white;
  font-size: 15px;
}

.name {
  font-size: 25px;
}
