* {
  margin: 0;
}

body {
  background-color: grey;
}

header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: white;
  background-image: linear-gradient(to right, #002c56, #005c5c);
  padding: 10px;
}

footer {
  background-image: linear-gradient(to right, #005c5c, #002c56);
}

header > img {
  width: 100px;
}

.container {
}

.player-card {
  margin: 50px 0;
  display: flex;
  justify-content: space-around;
  background-image: linear-gradient(to left, #002c56, #005c5c);
  border-radius: 5px;
  scale: 90%;
  z-index: 50;
  transition: 5000ms;
}

.player-card:nth-child(odd) {
  background-image: linear-gradient(to right, #002c56, #005c5c);
}

.player-card:nth-child(odd):hover {
  background-image: linear-gradient(to left, #002c56, #005c5c);
  transition: 500ms;
  .headshot {
    scale: 120%;
    transition: 500ms;
  }
}

.player-card:nth-child(even):hover {
  background-image: linear-gradient(to right, #002c56, #005c5c);
  transition: 5000ms;
  .headshot {
    scale: 120%;
    transition: 500ms;
  }
}

.name,
.position,
.jersey,
.age,
.stats {
  display: flex;
  align-items: center;
}
